{% extends "base.html" %}
{% block content %}

{% for section in csb %}
    <div id="{{ section.id }}">
        {% if section.section_rank == 1 %}
            <h1><strong>{{ section.section }} {{ section.name | safe }}</strong></h1>
        {% elif section.section_rank == 2 %}
            <h2><strong>{{ section.section }} {{ section.name | safe }}</strong></h2>
        {% elif section.section_rank == 3 %}
            <h3><strong>{{ section.section }} {{ section.name | safe }}</strong></h3>
        {% elif section.section_rank == 4 %}
            <p><strong>{{ section.section }} {{ section.name | safe }}</strong></p>
        {% endif %}

        {%  if section.image %}
            <img src="/static/images/agt-csb/agt-csb-{{ section.id }}.png" loading="lazy">
        {% endif %}

        {% for text in section.full_text %}
            <p>{{ text | linkify_sections | safe }}</p>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}
